{% extends 'admin_base.html' %}
{% block title %}
  Register
{% endblock %}

{% block content %}
  <!-- Sign Up Form -->
  {% comment %} <div class="container">
    {% endcomment %}
    <div class="row justify-content-center" style="background-size: cover; background-position: center; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Admin Login </h3>
            <form method="POST" action="{% url "admin-login" %}">
                {% csrf_token %}

              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required  />
              </div>
              
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
            <div class="text-center mt-2">
                
                <a class="text-center" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Forgot Password?
                </a>
              <div class="collapse mt-2" id="collapseExample">
               <form method="POST" action="{% url "reset-password" %}">
                {% csrf_token %}
                <div class="mb-3">

                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required />
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Sent Reset Password Link</button>
                </div>
               </form>
              </div>
            </div>

          </div>
          {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                <p class="text-center">{{ message }}</p>
                {% endfor %}

            </div>
          {% endif %}
          {% if message %}
            <div class="alert alert-primary" role="alert">
                <p class="text-center">{{ message }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% comment %}
  </div> {% endcomment %}
{% endblock %}
